.gradle/
build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/

MultiPaper-Server
MultiPaper-API

# paperweight 2.x generated fork sources
/paper-api
/paper-server
/purpur-api
/purpur-server

# toolchain selection marker (see settings.gradle.kts)
/.multipaper-toolchain

*.sh
multipaper.jar

!setup.sh
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper-9/gradle-wrapper.jar
